.card-weather {
    border: solid 2px rgba(255, 255, 255, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 16px;
    color: white;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    min-width: 400px;
}

.box-search {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.box-search #icon-map {
    position: absolute;
    left: 10px;
    width: 25px;
    cursor: pointer;
    z-index: 1;
}

.box-search input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.box-search input::placeholder {
    color: white;
    text-transform: capitalize;
}

.box-search button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    padding: 0 30px 0 5px;
    cursor: pointer;
}

.box-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.box-information img {
    width: 256px;
}

.box-information #temperature {
    position: relative;
    line-height: 1;
    font-weight: 700;
    font-size: 4em;
    margin: 20px 0;
}

.box-information .box-name-and-description {
    display: flex;
    gap: 30px;
}

.box-information #temperature span {
    position: absolute;
    font-size: 35px;
    margin-left: 4px;
}

.box-information .box-name-and-description>* {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 600;
}

.box-wind-humidity {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.box-wind-humidity>* {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-wind-humidity>*>img {
    width: 56px;
}

.text {
    line-height: 1.5;
}